@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 62.5%;
}

body {
    background: #222222;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    background-color: rgba(19, 19, 19, 1);
    width: 100%;
}

.cabecalho-principal-item {
    font-family: 'Inter', sans-serif;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 30px;
}

.cabecalho-secundario {
    display: flex;
    gap: 32px;
}

.cabecalho-secundario-item {
    font-family: 'Inter', sans-serif;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
}

.conteudo {
    border-top: 0.4px solid rgba(255, 255, 255, 1);
    font-size: 1.6rem;
}

.conteudo-home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 120px;
}

.conteudo-home-escrito {
    display: flex;
    flex-direction: column;
    margin-left: 6rem;
}

.conteudo-home-escrito-subtitulo {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 3rem;
    font-weight: 400;
}

.conteudo-home-escrito-titulo {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 5rem;
    font-weight: 700;
}

.conteudo-home-imagem {
    width: 605px;
    height: 605px;
}

.conteudo-perfil {
    background-color: rgba(19, 19, 19, 1);
    padding: 12rem;
    display: flex;
    flex-direction: row;
    gap: 4.4rem;
    align-items: center;
    border-top: 0.4px solid rgba(255, 255, 255, 1);
}

.conteudo-perfil-imagem {
    width: 423px;
    height: 454px;
    border-left: 3px solid white;
}

.conteudo-perfil-escrito-abaixo {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.conteudo-perfil-escrito-abaixo {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.conteudo-perfil-titulo {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 3.4rem;
}

.conteudo-perfil-paragrafo {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 2rem;
    font-weight: 400;
    text-align: justify;
}

.conteudo-perfil-grupo {
    padding-top: 5.4rem;
    display: flex;
    flex-direction: row;
    gap: 3.2rem;
    text-align: center;
}

.conteudo-botao {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: center;
    gap: 1.5rem;
    padding-left: 4rem;
}

.botao-imagem {
    width: 3.2rem;
    height: 3.2rem;
}

.botao-texto {
    padding: auto;
    font-size: 1.6rem;
}

.glow-on-hover {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.conteudo-experiencias {
    border-top: 0.4px solid rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 13.2rem;
}

.conteudo-experiencias-escrito {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.conteudo-experiencias-titulo {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 3rem;
    font-weight: 700;
    padding-left: 4.8rem;
}

.conteudo-experiencias-grupo-principal {
    display: flex;
    flex-direction: row;
    gap: 12.8rem;
    align-items: center;
}

.conteudo-experiencias-grupo1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    gap: 1rem;
    background-color: #1E1D1D;
    padding: 2rem;
}

.conteudo-experiencias-grupo2 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 71.6rem;
    height: 19.1rem;
    text-align: justify;
}

.conteudo-experiencias-subtitulo {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 2rem;
    font-weight: 400;
}

.conteudo-experiencias-paragrafo {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 2rem;
    font-weight: 400;
}

.conteudo-experiencias-imagem {
    padding-left: 5.6rem;
}

.conteudo-projetos {
    padding-top: 86px;
    padding-bottom: 86px;
    border-top: 0.4px solid rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(19, 19, 19, 1);
}

.conteudo-projetos-titulo {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
}

.conteudo-projetos-escrito {
    display: flex;
    flex-direction: row;
    padding-top: 86px;
    padding-bottom: 86px;
    justify-content: space-between;
    gap: 75px;
}

.conteudo-projetos-container {
    display: flex;
    flex-direction: column;
    width: 308px;
    height: 372px;
    background-color: rgba(48, 46, 46, 1);
    align-items: center;
    border-left: white solid 0.3px;
}

.conteudo-projetos-subtitulo {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 25px;
    font-weight: 700;
    padding-top: 25px;
}

.conteudo-projetos-paragrafo {
    padding-top: 11px;
    padding-left: 22px;
    padding-right: 22px;
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 17px;
    font-weight: 400;
    text-align: justify;
}

.conteudo-contato {
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 102px;
    border-top: 0.4px solid rgba(255, 255, 255, 1);
}

.conteudo-contato-principal {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 34px;
}

.conteudo-contato-secundario {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-contato-titulo {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
}

.conteudo-contato-imagem {
    width: 32px;
    height: 32px;
}

.conteudo-contato-paragrafo {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.conteudo-contato-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 27px;
}

.conteudo-footer {
    background-color: rgba(19, 19, 19, 1);
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-top: 0.4px solid rgba(255, 255, 255, 1);
    align-items: center;
}

.conteudo-footer-paragrafo {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 400;
}

@media (max-width: 1320px) {
    
    * {
        font-size: 62.5%;
    }

    .conteudo-experiencias-grupo-principal {
        flex-direction: column;
    }

    .conteudo-perfil {
        flex-direction: column;
        align-items: center;
        padding: 1.2rem;
    }

    .conteudo-experiencias-escrito {
        align-items: center;
        gap: 5rem;
    }

    .conteudo-experiencias-grupo-principal {
        align-items: center;
        gap: 6rem;
    }

    .conteudo-experiencias-titulo {
        padding-left: 0px;
    }

    .conteudo-projetos-escrito {
        flex-direction: column;
    }
}

/* @media (max-width: 1030px) {
    .conteudo-home {
        flex-direction: column;
        padding: 0px;
        padding-left: 120px;
        padding-right: 120px;
        padding-top: 120px;
        padding-left: 100px;
    }
} */

@media (max-width: 1800px) {
    * {
        font-size: 50%;
    }
}

@media (max-width: 1400px) {
    * {
        font-size: 40%;
    }
}
